<div class="footer__social">
  <ul class="social__items">
    {% if restaurant.phone? %}
    <li class="social__item">
      <a class="social__link" href="tel:{{ restaurant.phone_uri }}">
        <i class="icon icon-phone"></i>
        <span class="social__label">{{ restaurant.phone }}</span>
      </a>
    </li>
    {% endif %}
    {% if restaurant.email? %}
      <li class="social__item">
        <a class="social__link" href="mailto:#{{restaurant.email}}">
          <i class="icon icon-envelop"></i>
          <span class="social__label">{{ "Envoyer un email" | t }}</span>
        </a>
      </li>
    {% endif %}
    {% if restaurant.facebook_url? %}
      <li class="social__item">
        <a class="social__link" href="{{restaurant.facebook_url}}">
          <i class="icon icon-facebook"></i>
          <span class="social__label">{{ "Notre page Facebook" | t }}</span>
        </a>
      </li>
    {% endif %}
    {% if restaurant.twitter_url? %}
      <li class="social__item">
        <a class="social__link" href="{{restaurant.twitter_url}}">
          <i class="icon icon-twitter"></i>
          <span class="social__label">{{ "Notre compte Twitter" | t }}</span>
        </a>
      </li>
    {% endif %}
    {% if restaurant.tripadvisor_url? %}
      <li class="social__item">
        <a class="social__link" href="{{restaurant.tripadvisor_url}}">
          <i class="icon icon-tripadvisor"></i>
          <span class="social__label">{{ "Notre page TripAdvisor" | t }}</span>
        </a>
      </li>
    {% endif %}
  </ul>
</div>

<!-- <div class="footer__legal">
  <a class="legal__link" href="{{ restaurant.terms_of_use_url }}">
    {{ "Mentions légales" | t }}
  </a>
</div> -->
