<a href="#nav" class="main-nav__toggle toggle--open" title="{{ "Ouvrir le menu" | t }}">{{ "Menu" | t }}</a>
<a href="#nav" class="main-nav__toggle-link">Menu</a>
<a href="#" class="main-nav__toggle toggle--close" title="{{ "Fermer le menu" | t }}">{{ "Fermer le menu" | t }}</a>
<ul class="main-nav__items">
  {% for link in linklists.navigation-primaire.links %}
    <li class="main-nav__item {{ link.url | current_path: 'class:main-nav__item--current' }}">
      <a class="main-nav__link" href="{{ link.url }}">
        <p class="main-nav__title">{{ link.title }}</p>
      </a>
    </li>
    {% for l in linklists[link.linklist_handle].links %}
      <li class="main-nav__item {{ l.url | current_path: 'class:main-nav__item--current' }}">
        <a class="main-nav__link" href="{{ l.url }}">
          <p class="main-nav__title">{{ l.title }}</p>
        </a>
      </li>
    {% endfor %}
  {% endfor %}

  {% if localized_page_paths.size > 0 %}
    {% for path in localized_page_paths %}
      <li class="main-nav__item">
        <a class="main-nav__link" href="{{ path.url }}">
          <p class="main-nav__title">{{ path.locale_name }}</p>
        </a>
      </li>
    {% endfor %}
  {% endif %}
</ul>
