<!doctype html>
<html lang="{{ current_locale }}">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="cleartype" content="on">

    {% title_tag %}
    {% meta_description_tag %}

    {{ restaurant.host | url_canonical | canonical_tag }}
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {% if theme_settings.google-fonts-link %}
      {{ theme_settings.google-fonts-link | replace:'http:','https:' }}
    {% endif %}

    <script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
  </head>
  <body>
    <section class="page" id="top">
      <header class="main-header">
        <div class="identity">
          {% if restaurant.logo? %}
            <div class="logo">
              <a class="logo__link" href="{{ localized_root_path }}">
                {{ restaurant.logo_url | image_tag:'class:logo__image' }}
              </a>
            </div>

            <div class="restaurant-name">
              <a class="restaurant-name__link" href="{{ localized_root_path }}">
                {{ restaurant.name }}
              </a>
              {% if restaurant.slogan? %}
                <div class="slogan">
                  {{ restaurant.slogan }}
                </div>
              {% endif %}
            </div>

            <div class="phone-large">
              {% if restaurant.phone? %}
                <div class="phone-number">
                  <a class="phone-number__link" href="tel:{{ restaurant.phone_uri }}">
                    <i class="icon-phone"></i> <span class="phone-number__label">{{ restaurant.phone }}</span>
                  </a>
                </div>
              {% endif %}
            </div>

            <div class="main-header__hamburger">
              <section class="main-header__hamburger-stroke">
                <div></div>
                <div></div>
                <div></div>
              </section>
              <p class="main-header__hamburger-title">Menu</p>
            </div>
          {% endif %}
        </div>
        <div class="clearer"></div>
        <div class="phone-medium-down">
          {% if restaurant.phone? %}
            <div class="phone-number">
              <a class="phone-number__link" href="tel:{{ restaurant.phone_uri }}">
                <i class="icon-phone"></i> <span class="phone-number__label">{{ restaurant.phone }}</span>
              </a>
            </div>
          {% endif %}
        </div>
      </header>
      <nav id="nav" class="main-nav" role="navigation">
        <div class="main-nav__triangle"></div>
        {% include 'nav' %}
      </nav>
      <main class="main-content" role="main">
        {{ content_for_layout }}
      </main>
      <footer class="main-footer" role="contentinfo">
        {% include 'footer' %}
      </footer>
    </section>

    {{ 'jquery-2.1.1.min.js' | javascript_tag }}
    {{ 'newsletter_ajax.js' | asset_url | javascript_tag }}
    {{ 'masonry.min.js' | javascript_tag }}
    <script type="text/javascript">
      $( function() {
        var $container = $('.container');
        // initialize Masonry after all images have loaded
        $container.masonry({
          columnWidth: '.item',
          itemSelector: '.item'
        });

        $('.main-header__hamburger').click(function(){
          $('.main-nav').slideToggle('fast');
        });

        $(document).click(function(event) {
          if(!$(event.target).closest('.main-header__hamburger, .main-nav').length) {
            if($('.main-nav').is(":visible")) {
              $('.main-nav').hide();
            }
          }
        });

        $(document).click(function(event) {
          if(!$(event.target).closest('.social__item--newsletter, .section__subscribe--layout').length) {
            if($('.section__subscribe--layout').is(":visible")) {
              $('.section__subscribe--layout').hide();
            }
          }
        });

        $('.btn-see-location').click(function(e){
          e.preventDefault();
          $(this).parents('.map-overlay').fadeOut('slow');
        });

        $('.social__item--newsletter').click(function() {
          $('.section__subscribe--layout').toggle();
        });
      });
    </script>
  </body>
</html>
