{% if home_menus.size > 0 or if home_foods.size > 0 %}
  <section class="featured">
    <section class="section__main container">
      {% for menu in home_menus %}
        {% if menu.parent? %}
          <a href="{{ menu.root_parent.url }}#menu-{{menu.id}}">
        {% else %}
          <a href="{{ menu.url }}">
        {% endif %}
          <div class="item">
            {% if menu.main_image? %}
              <div class="item-wrapper-image">
                <img src="{{ menu.main_image | custom_image_url: "370x200#" }}" alt="menu" class="featured__menu-image item-image">
              </div>
              <h6 class="item-tag">Menu</h6>
            {% else %}
              <h6 class="item-tag item-tag--no-img">Menu</h6>
            {% endif %}
            <h3 class="menu__title">{{ menu.name }}</h3>
          </div>
        </a>
      {% endfor %}
      {% for food in home_foods %}
        {% assign relative_menu = food.menu %}
        <a href="{{ relative_menu.url }}">
          {% include 'food' with food:food, menu:relative_menu %}
        </a>
      {% endfor %}
      <div class="item see-all-menus">
        <a href="{{ restaurant.menus_path }}">
          <div class="item-wrapper-image">
            <img src="{{ 'see-all-menus.jpg' | asset_url | custom_image_url: "370x200#" }}" alt="all-menus" class="item-image">
          </div>
          <h3 class="menu__title">{{ "Voir toute la carte" | t }}</h3>
        </a>
      </div>
    </section>
  </section>
{% endif %}

{% if ten_latest_news.size > 0 %}
  <section class="news block">
    <section class="section__main news__body news__body--home block__body">
      <header class="section__header news__header block__header">
        <a href="{{ localized_root_path }}/news" class="home-news-title__link">
          <div class="section__title">
            <h2>{{ "Actualités" | t }}</h2>
          </div>
        </a>
      </header>
      {% for news in ten_latest_news %}
        {% if forloop.index <= 5 %}
          <section class="news__one-news {% if forloop.last %}news__one-news--last news__one-news--home-last{% endif %} {% cycle 'news__one-news--odd', 'news__one-news--even' %}">
            <a href="{{ news.url }}" class="news__one-news-link">
              {% if news.image? %}
              <div class="news__one-news-image block__image" style="background:url('{{ news.image | custom_image_url: '768x400#' }}'); background-size:cover;"></div>
              {% endif %}
              <div class="{% if news.image? %}news__one-news-content-wrapper{% else if %}news__one-news-content-wrapper news__one-news-content-wrapper--no-image{% endif %}">
                <!-- <h6 class="item-tag item-tag--date">{{ news.date }}</h6> -->
                <div class="news__one-news-content">
                  {% if news.title %}
                    <h5 class="news__one-news-title">{{ news.title }}</h5>
                  {% endif %}
                  {% if news.summary %}
                    <p class="news__one-news-summary">{{ news.summary }}</p>
                  {% endif %}
                </div>
              </div>
            </a>
          </section>
        {% endif %}
      {% endfor %}
    </section>
    {% if theme_settings.home-image-news %}
      <div class="news__image block__image"></div>
    {% endif %}
  </section>
{% endif %}

<section class="opening-hours block">
  <section class="section__main opening-hours__body block__body">
    <header class="section__header opening-hours__header block__header">
    <div class="section__title">
        <h2>{{ "Horaires" | t }}</h2>
      </div>
    </header>
    <dl class="opening-days">
    {% for day in opening_hours %}
      <dt class="opening-day">
        {{ day.name }}
      </dt>
      <dd class="opening-shifts">
        {{ day.shifts }}
      </dd>
    {% endfor %}
    </dl>
    {% if restaurant.opening_hours_information? %}
      <div class="opening-hours__information">
        <p>{{ restaurant.opening_hours_information }}</p>
      </div>
    {% endif %}
  </section>
  {% if theme_settings.home-image-opening-hours %}
    <div class="opening-hours__image block__image"></div>
  {% endif %}
</section>

<section class="directions block">
  <section class="section__main directions__body block__body">
    <header class="section__header directions__header block__header">
      <div class="section__title">
        <h2>{{ "Localisation" | t }}</h2>
      </div>
    </header>
    {% if theme_settings.google_map_type != "" %}
      <div class="map">
        {% if theme_settings.google_map_type == "embed" %}
          {% google_map_embed: "size:100%x600" %}
        {% elsif theme_settings.google_map_type == "image" %}
          <a class="map__link" href="{% google_map_url %}">
            <img class="map__image" src="{% google_map_image_url: "size:1000x520" %}" />
          </a>
        {% endif %}
        <div class="map-overlay">
          <footer class="section__footer directions__footer">
            <a class="button btn-see-location" href="{% google_map_url %}">
              {{ "Voir l'itinéraire" | t }}
            </a>
          </footer>
        </div>
      </div>
    {% endif %}
  </section>
  {% if theme_settings.home-image-directions %}
    <div class="directions__image block__image"></div>
  {% endif %}
</section>

{% if theme_settings.display_newsletter %}
  <div class="section__subscribe section__subscribe--home">
    {% newsletter_subscribe_form %}
      <fieldset class="field-group">
        <div class="input">
          <input id="subscriberEmailMobile" name="subscriber[email]" type="email" placeholder="{{ 'Inscrivez-vous à notre newsletter' | t }}" required>
        </div>
        <div class="submit">
          <button class="button submit-newsletter" type="submit">
            <i class="icon icon-check"></i> {{ "Valider" | t }}
          </button>
        </div>
      </fieldset>
    {% endnewsletter_subscribe_form %}
  </div>
{% endif %}
