{% if home_menus.size > 0 or if home_foods.size > 0 %}
  <section class="featured">
    <main class="section__main container">
      {% for menu in home_menus %}
        {% if menu.parent? %}
          <a href="{{ menu.root_parent.url }}#menu-{{menu.id}}">
        {% else %}
          <a href="{{ menu.url }}">
        {% endif %}
          <div class="item">
            {% if menu.main_image? %}
              <div class="featured__menu-image-wrapper">
                <img src="{{ menu.main_image | custom_image_url: "370x200#" }}" alt="menu" class="featured__menu-image">
              </div>
              <h6 class="menu-tag">Menu</h6>
            {% else %}
              <h6 class="menu-tag menu-tag--no-img">Menu</h6>
            {% endif %}
            <h3 class="menu__title">{{ menu.name }}</h3>
          </div>
        </a>
      {% endfor %}
      {% for food in home_foods %}
        {% assign relative_menu = food.menu %}
        <a href="{{ relative_menu.url }}">
          {% include 'food' with food:food, menu:relative_menu %}
        </a>
      {% endfor %}
      <div class="item see-all-menus">
        <div class="all-menus-wrapper">
          <img src="{{ 'see-all-menus.jpg' | asset_url | custom_image_url: "370x200#" }}" alt="all-menus">
        </div>
        <a href="{{ restaurant.menus_path }}">
          {{ "Voir toute la carte" | t }}
        </a>
      </div>
    </main>
  </section>
{% endif %}

<section class="opening-hours">
  <main class="section__main opening-hours__body">
    <header class="section__header opening-hours__header">
    <div class="section__title">
        <h2>{{ "Horaires" | t }}</h2>
      </div>
    </header>
    <dl class="opening-days">
    {% for day in opening_hours %}
      <dt class="opening-day">
        {{ day.name }}
      </dt>
      <dd class="opening-shifts">
        {{ day.shifts }}
      </dd>
    {% endfor %}
    </dl>
    {% if restaurant.opening_hours_information? %}
      <div class="opening-hours__information">
        <p>{{ restaurant.opening_hours_information }}</p>
      </div>
    {% endif %}
  </main>
  {% if theme_settings.home-image-opening-hours %}
    <div class="opening-hours__image"></div>
  {% endif %}
</section>

<section class="directions">
  <main class="section__main directions__body">
    <header class="section__header directions__header">
      <div class="section__title">
        <h2>{{ "Localisation" | t }}</h2>
      </div>
    </header>
    {% if theme_settings.google_map_type != "" %}
      <div class="map">
        {% if theme_settings.google_map_type == "embed" %}
          {% google_map_embed: "size:100%x600" %}
        {% elsif theme_settings.google_map_type == "image" %}
          <a class="map__link" href="{% google_map_url %}">
            <img class="map__image" src="{% google_map_image_url: "size:1000x520" %}" />
          </a>
        {% endif %}
        <div class="map-overlay">
          <footer class="section__footer directions__footer">
            <a class="button btn-see-location" href="{% google_map_url %}">
              {{ "Voir l'itinéraire" | t }}
            </a>
          </footer>
        </div>
      </div>
    {% endif %}
  </main>
  {% if theme_settings.home-image-directions %}
    <div class="directions__image"></div>
  {% endif %}
</section>
