<section class="menus-wrapper">
  {% for menu in menus %}
    <section class="menus">
      <a class="menus__menu-link" href="{{ menu.url }}">
        <header class="section__header menus__header">
          <h2 class="section__title">
            {{ menu.name }}
          </h2>
        </header>
        <div class="menus__menu-image" style="background:url('{{ menu.main_image | custom_image_url: '1000x1000#' }}');background-size:cover;"></div>
      </a>
      <main class="section__main menus__body">
        <ul class="menu-children container">
          {% for child in menu.children %}
            <li class="menu-child item">
              <a href="{{ menu.url }}#menu-{{child.id}}" class="menu-child__link">
                {% if child.main_image? %}
                  {{ child.main_image | custom_image_url: "370x200#" | image_tag: "class:menu-child__image" }}
                {% endif %}
                <span class="menu-child__title">{{ child.name}}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </main>
    </section>
  {% endfor %}
</section>