<section class="page-header page-header--menus">
  <div class="wrapper">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ "Notre carte" | t }}</h1>
    </header>
    {% if theme_settings.display_newsletter %}
      <div class="section__subscribe">
        {% newsletter_subscribe_form %}
          <fieldset class="field-group">
            <div class="input">
              <input id="subscriberEmail" name="subscriber[email]" type="email" placeholder="{{ 'Inscrivez-vous à notre newsletter' | t }}" required>
            </div>
            <div class="submit">
              <button class="button submit-newsletter" type="submit">
                <i class="icon icon-check"></i> {{ "Valider" | t }}
              </button>
            </div>
          </fieldset>
        {% endnewsletter_subscribe_form %}
      </div>
    {% endif %}
  </div>
</section>
<ul class="shortcut-wrapper">
  {% for menu in menus %}
    <li class="shortcut" style="{% if menu.main_image? %}background:url('{{ menu.main_image | custom_image_url: '200x200#' }}');background-size:cover;{% endif %}">
      <div class="shortcut__overlay"></div>
      <a class="shortcut__link" href="{{ menu.url }}">
        <div class="section__header shortcut__header">
          <h2 class="section__title">
            {{ menu.name }}
          </h2>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>
<section class="section__main container">
  {% for menu in featured_menus %}
    <a href="{{ menu.url }}">
      <div class="item">
        {% if menu.main_image? %}
          <div class="item-wrapper-image">
            <img src="{{ menu.main_image | custom_image_url: "370x200#" }}" alt="menu" class="featured__menu-image item-image">
          </div>
          <h6 class="item-tag">Menu</h6>
        {% else %}
          <h6 class="item-tag item-tag--no-img">Menu</h6>
        {% endif %}
        <h3 class="menu__title">{{ menu.name }}</h3>
      </div>
    </a>
  {% endfor %}
  {% for food in featured_foods %}
    {% assign relative_menu = food.menu %}
    <a href="{{ relative_menu.url }}">
      {% include 'food' with food:food, menu:relative_menu %}
    </a>
  {% endfor %}
</section>