<div class="wrapper">
  <section class="page-header page-header--contact">
    <header class="section__header page-header__header">
      <h1 class="section__title page-header__title">{{ contact_settings.contact_title }}</h1>
    </header>
    <main class="section__main page-header__description">
      {{ contact_settings.contact_content }}
    </main>
  </section>

  <section class="page-body page-body--contact">
    {% contact_form %}
      <fieldset class="field-group">
        <div class="input">
          <input id="contactFromName" name="message[from_name]" placeholder="{{ "Votre nom" | t }}" type="text">
        </div>
        <div class="input">
          <input id="contactFromEmail" name="message[from_email]" placeholder="{{ "Votre adresse email" | t }}" type="text">
        </div>
        <div class="input">
          <input id="contactPhone" name="message[phone]" placeholder="{{ "Votre numéro de téléphone" | t }}" type="text">
        </div>
        <div class="textarea textarea--message">
          <textarea id="contactBody" name="message[body]" placeholder="{{ "Votre message" | t }}"></textarea>
        </div>
        <div class="submit">
          <input class="button submit-contact" type="submit" value="{{ "Envoyer" | t }}">
        </div>
      </fieldset>
    {% endcontact_form %}
  </section>

  <aside class="aside aside--contact" itemscope itemtype="http://schema.org/Restaurant">
    <section class="restaurant-informations block">
      <main class="restaurant-informations__body block__body">
        <header class="section__header restaurant-informations__header block__header">
          <div class="section__title">
            <h2>{{ "Infos" | t }}</h2>
          </div>
        </header>
        <div class="restaurant-informations__content">
          <h3 class="contact-item__name" itemprop="name">{{ restaurant.name }}</h3>
          {% if restaurant.phone? %}
          <div class="restaurant-informations__content-phone">
            <p>{{ "Téléphone :" | t }}</p>
            <a href="tel:{{ restaurant.phone_uri }}">
              <p itemprop="telephone">{{ restaurant.phone }}</p>
            </a>
          </div>
          {% endif %}
          {% if restaurant.email? %}
          <div class="restaurant-informations__content-email">
            <p>{{ "Adresse email :" | t }}</p>
            <a href="mailto:{{ restaurant.email }}">
              <p itemprop="email">{{ restaurant.email }}</p>
            </a>
          </div>
          {% endif %}
          <div class="restaurant-informations__content-address">
            <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span class="contact-item__label">{{ "Adresse :" | t }}</span>
              <br>
              {% if restaurant.street_address? %}
                <span itemprop="streetAddress">{{ restaurant.street_address }}</span>
                <br>
              {% endif %}
              {% if restaurant.zip_code? %}
                <span itemprop="postalCode">{{ restaurant.zip_code }}</span>
              {% endif %}
              {% if restaurant.city? %}
                <span itemprop="addressLocality">{{ restaurant.city }}</span>
              {% endif %}
            </p>
          </div>
        </div>
      </main>
    </section>
    <section class="opening-hours block">
      <main class="section__main opening-hours__body block__body">
        <header class="section__header opening-hours__header block__header">
        <div class="section__title">
            <h2>{{ "Horaires" | t }}</h2>
          </div>
        </header>
        <dl class="opening-days">
        {% for day in opening_hours %}
          <dt class="opening-day">
            {{ day.name }}
          </dt>
          <dd class="opening-shifts">
            {{ day.shifts }}
          </dd>
        {% endfor %}
        </dl>
        {% if restaurant.opening_hours_information? %}
          <div class="opening-hours__information">
            <p>{{ restaurant.opening_hours_information }}</p>
          </div>
        {% endif %}
      </main>
    </section>
  </aside>
</div>